# Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

(*) Asterisk is a multiply operator and this is an expression

In [1]:
# Example
a = 5
b = 4
b*a

20

('hello') This is a string value

In [21]:
# Example
a = 'hello'
a

'hello'

(-87.8)  This is a negative float number value

In [8]:
# Example 
a = -87.8
type(a)

float

(-) This is a subtract operator and this is an expression

In [22]:
# Example 
a = 834
b = 393
a-b

441

(/) This is a division operator and this is an expression

In [23]:
# Example
a = 3945
b = 124
a/b

31.81451612903226

(+) This is an addition operator and this is an expression

In [18]:
# Example
a = 7843
b = 7323
a+b

15166

(6) This is an integer value

In [ ]:
# Example
a = 6
type(a)

# Q2. What is the difference between string and variable?

String are collection of characters written in between the Single or Double quotes 

We can assign a multiline string to a variable by using three quotes

We can use square brackets to access the elements of the string.

Variables are used for storing data values and when we create a variable we reserve some space in memory.

When we assign a value to a variable then the declaration of a data type happen.

In [25]:
# a = "Hello"              # a is variable here and "Hello" is a string value which is stored in a variable.  
a

'Hello'

# Q3. Describe three different data types.

 Integer (int) is a whole number.

 It can be positive or negative.
 
 It can't be used with decimal points.
 
 It has a unlimited length.

In [29]:
# Example
x = 124
y = 876746238948
z = -672343
print(type(x),x)
print(type(y),y)
print(type(z),z)

<class 'int'> 124
<class 'int'> 876746238948
<class 'int'> -672343

Float (float) values contains decimal points.

It can be positive or negative.

Float can also be scientific numbers with an "e" which indicate the power of 10.

In [28]:
# Example
x = 1.10
y = -35.59
z = 12E4
w = -87.7e100
print(type(x),x)
print(type(y),y)
print(type(z),z)
print(type(w),w)

<class 'float'> 1.1
<class 'float'> -35.59
<class 'float'> 120000.0
<class 'float'> -8.77e+101

Complex(complex) numbers are written with a "j" as the imaginary part.

The real numbers are written before the imaginary part.

In [30]:
x = 5+7j
y = 8j
z = -9j
print(type(x),x)
print(type(y),y)
print(type(z),z)

<class 'complex'> (5+7j)
<class 'complex'> 8j
<class 'complex'> (-0-9j)

# Q4. What is an expression made up of? What do all expressions do?

They are made up of values,variables and operators and always evaluate down to a single value.

In [37]:
a = 4                                 # These are the expressions.
b = 5
print(a+b,a*b,b-a,"jellybean")           #They are performing some sort of operations here

9 20 1 jellybean

Expressions specify some information which we want to evaluate through the code by using values,variables and operators.

( Boolean expressions        : Evaluate to either TRUE or FALSE ) 

( Integer expressions        : Evaluate to whole numbers )

( Floating-point expressions : Evaluate to float values )  

( String expressions         : Evaluate to character strings )

# Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Expression always returns a value.

They will always evaluate some sort of result.

In [40]:
# Example
x = 423
y = 123
print(x*y)

52029

Statement never returns a value.

It can't print any result.

In [1]:
# Example
a = 13243
b = 45433
if b > a:                       #This is an if statement,there are many statements assignment,loops etc
  print("b is greater than a")

b is greater than a

# Q6. After running the following code, what does the variable bacon contain?

Bacon contain 22

In [4]:
bacon = 22
x = bacon + 1
bacon

22

# Q7. What should the values of the following two terms be?

The output will be the same for both terms 'spamspamspam'

In [53]:
'spam' + 'spamspam'       #Here we are using addition operator to concatenate the string

'spamspamspam'

In [54]:
'spam' * 3                #Here we are using multiply operator to concatenate the string

'spamspamspam'

# Q8. Why is eggs a valid variable name while 100 is invalid?

We can use the Alphabets like a to z or A to Z or underscore that is the reason (eggs) is a valid variable name.

1. A variable name must start with a letter or the underscore character.

2. A variable name cannot start with a number.

3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

4. Variable names are case-sensitive (age, Age and AGE are three different variables).

In [70]:
# Let's see the Example
eggs = 2446   
eggs

2446

We can't use the numerical values as a variable name that's why (100) is an illegal variable name

In [61]:
# Let's see the Example
100 = a
100

SyntaxError: cannot assign to literal (<ipython-input-61-920c2686c825>, line 2)

# Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Here we use casting to convert one data type to another data type.

1. Converting other data types into int() function.

In [98]:
x = int(5.3)        # float to int
y = int("7")        # string to int
z = int(True)       # boolean to int
w = int(False)      # boolean to int
x,y,z,w

(5, 7, 1, 0)

   2.Converting other data types into float() function.

In [93]:
x = float(5)        # int to float
y = float("6.2")    # str to float
z = float(True)     # boolean to float
w = float(False)    # boolean to float
x,y,z,w

(5.0, 6.2, 1.0, 0.0)

3. Converting other data types into str() function.

In [96]:
x = str(True)        # boolean to str
y = str(False)       # boolean to str
z = str(4)           # int to str
w = str(9.0)         # float to str
v = str([132,"neat"])# list to str
x,y,z,w,v

('True', 'False', '4', '9.0', "[132, 'neat']")

# Q10. Why does this expression cause an error? How can you fix it?

We can only concatenate string to string not to an integer,here we are trying to concatenate with an integer value that is the reason it is causing an error.

In [66]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [3]:
# We can fix it by typecasting the integer value into str function.
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'